.my-accordion{
    display: flex;
    flex-direction: column;
}
.head-accor{
    background-color: #a6e3e9;
}
.arrow{
    min-width: 5rem;
}
.judul:hover {
    cursor: pointer;
    color:#3fc1c9;
}
.up:hover {
    cursor: pointer;
    color:#3fc1c9;
}
.down:hover {
    cursor: pointer;
    color:#3fc1c9;
}

.accor-1{
    order: 1;
}
.accor-2{
    order: 2;
}
.accor-3{
    order: 3;
}
.accor-4{
    order: 4;
}
.content-accor{
    display: none;
}

