{% extends "base.html"%}
{% load static %}

{% block app_css %}
    <link rel="stylesheet" href="{% static 'story8/css/style.css' %}">
{% endblock app_css %}


{% block content %}
<div class="jumbotron jumbotron-fluid text-black my-jumbotron d-flex align-items-center">
    <div class="container text-center">
      <h1 class="display-4">Book Database</h1>
    </div>
</div>
<div class="container">
    <div class="my-searchbox">
        <div class="active-pink-3 active-pink-4 mb-4">
            <input id="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
    </div>
    <div class="my-booktable">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Foto</th>
                <th scope="col">Judul</th>
                <th scope="col">Deskripsi</th>
              </tr>
            </thead>
            <tbody class="my-tablebody">

            </tbody>
    </div>
</div>

<script src="{% static 'story8/js/story8.js' %}"></script>
{% endblock %}