{% extends "base.html"%}
{% load static %}

{% block content%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'story3/css/style.css' %}">
</head>

<main>
    <section id="head">
        <h1 class="text-center pl-3 pr-3">Some Nice Looking Photo from Internet</h1>
    </section>
    <section id ="gallery">
              <div class="container-fluid p-0">
                  <div class="row no-gutters">
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo1.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo2.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo3.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo4.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo5.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo6.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo7.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo8.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo9.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo10.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo11.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo12.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo13.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo14.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo15.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo16.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo17.jpg' %}" alt="nice"></div>
                      <div class="col-lg-4 col-sm-6"><img class="img-fluid" src="{% static 'story3/img/gallery/photo18.jpg' %}" alt="nice"></div>
                  </div>
              </div>
    </section>

</main>

{% endblock %}