{% extends "base.html"%}
{% load static %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'story3/css/style.css' %}">
</head>
<body>
    <main>
        <section id = "home">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm d-flex flex-column justify-content-center align-items-center" >
                        <div class="mt-3 pt-3 mt-md-0 pt-md-0 d-flex flex-column justify-content-center align-items-center text-nowrap">
                            <h4>HI! THIS IS ME</h4>
                            <h2>RHEZNANDYA ERWANTO</h2>
                            <h4>WELCOME TO MY STORY</h4>
                        </div>
                    </div>
                    <div class="col-sm d-flex justify-content-center p-3">
                        <img class="" src="{% static 'story3/img/AU47.jpg' %}" alt="My image">
                    </div>
                </div>
                <div class="row my-row mt-0">
                    <div class="col-sm d-flex  justify-content-center">
                        <a href="#about"><img src="{% static 'story3/img/down-arrow.png' %}" alt="down-arrow"></a>
                    </div>
                </div>
            </div>
        </section>
        <section id="about">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-md d-flex justify-content-center">
                        <img class="img-fluid mb-sm-5" src="{% static 'story3/img/jakun.jpg' %}" alt="foto-jakun">
                    </div>
                    <div class="col-md d-flex flex-column justify-content-center align-items-center mt-sm-2">
                        <div class="row pb-md-2">
                            <div class="text-about">
                                <div class="row text-nowrap flex-nowrap">
                                    <div class="col-5"><h5><b>Nama</b></h5></div>
                                    <div class="col-5"><span class="pl-5 pr-3">Rheznandya Erwanto</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-5"><h5 class="text-nowrap"><b>Date of Birth</b></h5></div>
                                    <div class="col-5 text-nowrap"><span class="pl-5">4 November 2001</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-5"><h5><b>Address</b></h5></div>
                                    <div class="col-5"><span class="pl-5">Bogor</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col">
                                <div class="my-about text-color-white">
                                    <h5 class="pt-sm-2 pt-xl-3 pl-sm-3 pb-sm-0 pb-xl-2">About Me</h5>
                                    <p class="text-center pl-3 pr-3">Sophomore Computer Science at University of Indonesia, 
                                        eager to learn new things and interested in software development 
                                        and machine learning </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="resume">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col d-flex flex-column">
                        <div class="row ">
                            <div class="col">
                                <h3 class="ml-5">Education</h3>
                            </div>
                        </div>
                        <div class="row m-3">
                            <div class="col d-flex">
                                <div class="edu d-flex align-items-center">
                                    <div class="edu-text p-3 text-color-white">
                                        <h5>2019-2023</h5>
                                        <h5>Bachelor Degree of Computer Science</h4>
                                        <h6>University of Indonesia</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-3">
                            <div class="col d-flex">
                                <div class="edu d-flex align-items-center text-color-white">
                                    <div class="edu-text pl-3">
                                        <h5>2016-2019</h5>
                                        <h5>Sekolah Menengah Atas</h4>
                                        <h6>SMA Negeri 3 Bogor </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-3">
                            <div class="col d-flex">
                                <div class="edu d-flex align-items-center text-color-white">
                                    <div class="edu-text pl-3">
                                        <h5>2013 - 2016</h5>
                                        <h5>Sekolah Menengah Pertama</h4>
                                        <h6>SMP Negeri 1 Bogor</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col d-flex flex-column">
                            <div class="row ">
                                <div class="col">
                                    <h3 class="mr-5 text-right mt-sm-5 mt-lg-0">Experience</h3>
                                </div>
                            </div>
                            <div class="row m-3 ">
                                <div class="col d-flex justify-content-end">
                                    <div class="edu d-flex align-items-center justify-content-end">
                                        <div class="pr-3 text-right text-color-white">
                                            <h5>2020-Present</h5>
                                            <h5>DPM Fasilkom UI</h4>
                                            <h6>Staff of Pengawasan</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-3">
                                <div class="col d-flex justify-content-end">
                                    <div class="edu d-flex align-items-center justify-content-end">
                                        <div class="pr-3 text-right text-color-white">
                                            <h5>2020-Present</h5>
                                            <h5>FUKI Fasilkom UI</h4>
                                            <h6>Staff of FUKI Corp</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
<footer>
    <section id="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="contact-me d-flex flex-column align-items-center justify-content-center">
                        <h4 class="pb-2">Contact Me</h4>
                        <div>
                            <div class="d-flex flex-row mb-2">
                                <img class=" mr-3" src="{% static 'story3/img/phone-call.png' %}" alt="phone-call">
                                <h5 class=" ml-3">+62888899988</h5>
                            </div>
                            <div class="d-flex flex-row mt-2">
                                <img class=" mr-3" src="{% static 'story3/img/email.png' %}" alt="email">
                                <h5 class="ml-3">bobby@gmail.com</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="contact-me d-flex flex-column align-items-center justify-content-center">
                        <h4 class="mb-3">Contact Me</h4>
                        <div class="d-flex flex-row ">
                            <a href="https://www.instagram.com/rheznandyae/" target="_blank"><img class="ml-3 mr-3" src="{% static 'story3/img/instagram.png' %}" alt="Instagram"></a>
                            <a href="https://www.linkedin.com/in/rheznandya-erwanto-963817174" target="_blank"><img class="ml-3 mr-3" src="{% static 'story3/img/linkedin.png' %}" alt="LinkedIn"></a>
                            <a href="https://twitter.com/rheznandyae" target="_blank"><img class="ml-3 mr-3" src="{% static 'story3/img/twitter.png' %}" alt="twiter"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>

{% endblock %}
</html>