
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'story1/css/style1.css' %}">
    <title>Story 1 PPW</title>
</head>
<body>
    <header>
        <div class="navbar">
        <h1>My Story</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#edu_background">Background</a></li>
                <li><a href="#contact">Contact Me</a></li>
                <li><a href="/">Story 3</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <main>
    
        {% block content%}

        <section id="home">
            <div class="photo">
                <img width="250px" src="{% static 'story1/img/AU47.jpg' %}" alt="ganteng boy">
            </div>
            <div class="desc">
                <table>

                    <tr>
                        <td><h3>Nama</h3> </td>
                        <td>Rheznandya Erwanto</td>
                    </tr>
                    <tr>
                        <td><h3>NPM</h3> </td>
                        <td>1906318924</td>
                    </tr>
                    <tr>
                        <td><h3>Angkatan</h3> </td>
                        <td>Gaungkanlah Raunganmu Maung!</td>
                    </tr>
                    <tr>
                        <td><h3>Hobby</h3></td>
                        <td>Mabar</td>
                    </tr>
                    <tr>
                        <td><h3>Kuliah</h3> </td>
                        <td>Universitas Istana</td>
                    </tr>
                </table>
            </div>
        </section>
        <section id="about">
            <div class="text_about">
                <table>
                    <tr>
                        <td><h2>About Me</h2></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Seseorang laki-laki pribumi yang gemar bermain PC</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="img_about">
                <img src="{% static 'story1/img/myCat.jpg' %}" alt="My beloved cat">
            </div>
        </section>
        <section id="edu_background">
            <h2>Educational Background</h2>
            <table>
                <tr>
                    <td>TK Islam Al-Azhar Pontianak</td>
                    <td>2006 - 2007</td>
                </tr>
                <tr>
                    <td>SD Islam Al-Azhar 21 Pontianak</td>
                    <td>2007 - 2011</td>
                </tr>
                <tr>
                    <td>SD Negeri 1 Ciwangi</td>
                    <td>2011 - 2013</td>
                </tr>
                <tr>
                    <td>SMP Negeri 1 Bogor</td>
                    <td>2013 - 2016</td>
                </tr>
                <tr>
                    <td>SMA Negeri 3 Bogor</td>
                    <td>2016 - 2019</td>
                </tr>
                <tr>
                    <td>Ilmu Komputer Universitas Indonesia</td>
                    <td>2019 - 2023</td>
                </tr>
            </table>
        </section>

        <section id="contact">
            <a href="https://www.instagram.com/rheznandyae/" target="_blank"><img width="50px" src="{% static 'story1/img/instagram.png' %}" alt="ig"></a>
            <a href="https://www.linkedin.com/in/rheznandya-erwanto-963817174" target="_blank"><img width="50px" src="{% static 'story1/img/linkedin.png' %}" alt="linkedIn"></a>
            <a href="https://twitter.com/rheznandyae" target="_blank"><img src="{% static 'story1/img/twitter.png' %}" alt="twitter" width="50px"></a>
        </section>

        {% endblock %}
    </main>
    <footer>

    </footer>

</body>
</html>