{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'story3/css/style.css' %}">
    <link rel="icon" href="{% static 'story3/img/code.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% block app_css %}
  	
    {% endblock app_css %}
  
    <title>Story 3 Rheznandya</title>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
              <a class="navbar-brand ml-4 " href="/"><h2>Rheznandyae</h2></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#resp-nav" aria-controls="resp-nav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon d-flex justify-content-center align-items-center"><img src="{% static 'story3/img/menu.png' %}" alt="menu" style="width: 20px;"></span>
                </button>
              
              <div class="nav collapse navbar-collapse justify-content-end" id="resp-nav">
                  <div class="navbar-nav">
                      <!-- <a href="/#about" class="btn bg-light m-2 my-button">About</a>
                      <a href="/#resume" class="btn bg-light m-2">Resume</a>
                      <a href="/#contact" class="btn bg-light m-2">Contact</a> -->
                      <a href="/gallery" class="btn bg-light m-2">Gallery</a>
                      <a href="/story1" class="btn bg-light m-2">Story 1</a>
                      <a href="/story7" class="btn bg-light m-2">Story 7</a>
                      <a href="/story8" class="btn bg-light m-2">Story 8</a>
                      <a href="/story9/" class="btn bg-light m-2">Story 9</a>
                      {% if request.user.is_authenticated %}
                      <a class="btn bg-light m-2" data-toggle="modal" data-target="#exampleModal">Logout</a>
                      {% else %}
                      <a href="/story9/login" class="btn bg-light m-2">Login</a>
                      <a href="/story9/register" class="btn bg-light m-2">Register</a>
                      {% endif %}
                  </div>
              </div>
            </div>
        </nav>
    </header>

    {% block content%}

    hiyahiyahiya

    {% endblock %}
       
    </main>
 
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to Logout?</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
            <a href="/story9/logout" class="btn btn-danger">Yes</a>
          </div>
        </div>
      </div> 
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>