{% extends "base.html"%}
{% load static %}



{% block content %}
<div class="container my-container">
    <div class="card p-2 m-2">
        <div class="card-body"> 
            <h2 class="display-4 text-center">Register</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group" >
                  <label>Username</label>
                  <input name="username" class="form-control" placeholder="Enter Username">
                </div>
                <div class="form-group" >
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter email">
                </div>
                <div class="form-group" >
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter Password">
                </div>
                <div class="form-group" >
                    <label>Confirm Password</label>
                    <input type="password" name="confirmedPassword" class="form-control" placeholder="Enter your Password again">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create Account</button>
                </div>
            </form>
            {% if messages != "" %}

            <div class="alert alert-danger" role="alert">
                {{messages}}
            </div>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}