{% extends "base.html"%}
{% load static %}

{% block app_css %}
{% endblock app_css %}


{% block content %}
{% if request.user.is_authenticated %}
<div class="jumbotron jumbotron-fluid text-black my-jumbotron d-flex align-items-center">
    <div class="container text-center">
      <h1 class="display-4">Hello {{username}}</h1>
    </div>
</div>
<div class="container">
    
</div>

{% else %}
<div class="container">
    <div class="alert alert-warning m-4" role="alert">
        Please Login to see content
    </div>
</div>

{% endif %}


<!-- <script src="{% static 'story8/js/story8.js' %}"></script> -->
{% endblock %}